<body style="text-align: center;">
<h1>Welcome to <b>EmpManager</b></h1>
<h4><i>An employee management application</i></h4>
<div class="topnav" id="myTopnav">
    <!-- <div> -->
        <a routerLink="list" routerLinkActive="active">List</a>
        <a routerLink="add" routerLinkActive="active">Add</a>
        <a routerLink="edit" routerLinkActive="active">Edit</a>
        <a routerLink="delete" routerLinkActive="active">Delete</a>
    <!-- </div> -->
</div>
</body>
<router-outlet></router-outlet>