body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

*, html {
    box-sizing: border-box;
    margin: 0;
    padding: 0 ;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 16px 0;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    /* float: left; */
    display: block;
    color: #eadada;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: 0 18px;
    
    /* justify-content: space-evenly; */
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #eadada;
    color: #201c1c;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: #1d845e;
    color: #eadada;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }

  b{
    color: #1d845e;
  }